<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div id='wrapper'>
        <%= render partial: 'index/header' %>
        <%= render partial: 'index/menu' %>
        <div id="page-wrapper">
          <div id="page-inner">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="centered-content">
        <%= yield %>
       </div>
    <% end %>
  </body>
</html>
